<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no"/>
  <title>登录</title>
</head>
<body>
<%-include ../publish/publish.ejs%>
<form action="/dologin" method="post">
  用户名:<input type="text" placeholder="请输入用户名" name="user">
  密&emsp;码:<input type="password" placeholder="请输入密码" name="password">
  <button type="submit">登录</button>
</form>
</body>
</html>