<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no"/>
  <title>新闻</title>
</head>
<body>
<%-include ../publish/publish.ejs%>


<% for(var i=0;i<news.length;i++){%>




<li><a href="/news/details?id=<%=news[i].id%>&title=<%=news[i].title%>"><%=news[i].title%></a></li>

<%}%>

</body>
</html>